/*-------------------------------------- Standard ---------------------------------------*/
body {
	font-family: Georgia;
}

hr {
	clear:both;
}

h2 {
	font-family: Verdana;
	font-size: 1.5rem;
	margin-left: 2.5%
}

br {
	line-height: 2px;
}

#filter-start {
	width: 750px;
}

#masonry {
	column-count: 3;
	width: 750px;
	column-gap: 1em;
}

/*------------------------------------- Filter Tools ------------------------------------*/
#filterBegin {
	display: none;
}
#filter {
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 750px;
	float: left;
}

#filterBy-text {
	width: 240px;
	margin: 10px 0 5px 10px;
	font-size: 1.25rem;
	height: 25px;
	font-family: impact;
	letter-spacing: 1px;
}

#filter select {
	width: 240px;
	margin: 5px;
	font-size: 1rem;
	height: 25px;
}

#searchBar {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

/* search box */
#search {
	width: 500px;
	height: 20px;
	padding: 20px 5px;
	margin-left: 2px;
	float: left;
	font: bold 15px 'Raleway', sans-serif;
	border: 0;
	background: white;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.39);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.39);
}
.cf:before, .cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}
.form-wrapper-2 {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.form-wrapper-2 input:focus {
	outline: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.39);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.39);
}
.form-wrapper-2 input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.form-wrapper-2 button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font: bold 15px/40px 'Raleway', sans-serif;
	color: #FFD54F;
	text-transform: uppercase;
	background: black;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:hover{
	background: #FFD54F;
	color: black;
}
.form-wrapper-2 button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent black transparent;
	top: 12px;
	left: -6px;
}
.form-wrapper-2 button:hover:before{
	border-right-color: #FFD54F;
}
.form-wrapper-2 button:focus:before{
	border-right-color: #FFD54F;
}
.form-wrapper-2 button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

#clear {
	font-size: 1rem;
	width: 128px;
	height: 40px;
	margin: 5px;
	background-color: black;
	color: #FFD54F;
	border: 1px solid black;
	border-radius: 3px;
	font: bold 15px/40px 'Raleway', sans-serif;
	text-transform: uppercase;
	outline: none;
	padding: 0;
}

#clear:hover {
	background-color: #FFD54F;
	color: black;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	font: bold 15px/40px 'Raleway', sans-serif;
	text-transform: uppercase;
}

#magnifyingGlass {
	width: 20px;
	height: auto;
}

#magnifyingGlass:hover {
	cursor: pointer;
}

/*---------------------------------------- Button ---------------------------------------*/
.button-vert {
	display: block;
	font-family: impact;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 1.05rem;
	background-color: black;
	color: #FFD54F;
	border-radius: 3px;
	border: 1px solid black;
	/*Adjustable (Size)*/
	position: relative;
	margin: auto;
	padding: 1.5% 10%;
	width: 155px;
}

.button-vert:hover {
	display: block;
	font-family: impact;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 1.05rem;
	background-color: #E4B429;
	color: black;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.2);
	/*Adjustable (Size)*/
	position: relative;
	margin: auto;
	padding: 1.5% 10%;
}

/*----------------------------------------- Containers -------------------------------------------------*/
.product-vert {
	display: inline-block;
	background-color: #FFD54F;
	border-radius: 15px;
	margin: 0 0 1em;
	float: left;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	/*Adjustable (Size)*/
	position: relative;
	width: 239px;
	padding-bottom: 1rem;
	padding-top:.85rem;
}

.product-hor {
	align-items: center;
	background-color: green;
	border-radius: 25px;
	margin: 1.66% auto;
	/*Adjustable (Size)*/
	float: left;
	position: relative;
	height: 275px;
}

/*------------------------------------------- Images ---------------------------------------------------*/
.vertImg {
	display: relative;
	border-radius: 3px;
	width: 92%;
	height: auto;
	border: 7.5px solid #FFD54F;
	margin: 9px auto 0 auto;
	background-color: white;
}

.horImg {
	border-radius: 5px;
	position: relative;
	margin: auto;
	width: 60%;
	height: auto;
	display: block;
	margin: 25px 0;
	border: 7.5px solid #FFD54F;
}

/*--------------------------------------- Text Containers --------------------------------------- */
.product-vert .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 5px;
	background-color: #FFFFAA;
	font-size: .85rem;
	line-height: 1.5;
	width: 180px;
	word-wrap: break-word; /*Dealing with text overflow*/
	/*Adjustable (Size)*/
	margin: auto auto 1rem auto;
	padding: 10px 15px;
	width: 85%;
}

.product-vert .text p {
	margin: 1px 0;
}
.product-vert .modal-window .modal-content .textCont {
	display: block;
	border-radius: 15px;
	word-wrap: break-word;
	background-color: #FFD54F;
	font-size: 1rem;
	line-height: 1.5;
	padding: 1rem 1.25rem;
	text-align: left;
	max-width: 60%;
	float: right;
	margin-top: 1%;
	width: 60%;
}

/*--------------------------------------- Pop-up Window ---------------------------------------*/
/* The Modal (background) */
.modal-window {
	/*DO NOT ADJUST*/
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	/*Sizing the Container*/
	min-height: 15%;
	max-height: 80%;
	min-width: 70%;
	max-width: 80%;
	margin: auto;
	padding: 7px 20px;
	/*Centering Pop-up*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	/*Adjustable*/
	background-color: #FFFFAA;
	border: 1px solid #FFFFAA;
	border-radius: .5rem;
	overflow: auto;
}

/* The Close Button */
.close {
	/*DO NOT ADJUST*/
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	/*DO NOT ADJUST*/
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-content h2 {
	text-align: left;
}

.modal-content p {
	width: 55%;
	margin: 0 2.5% 0 2.5%;
	float: left;
	display: inline-block;
	line-height: 20px;
}

.modal-content div {
	width: 90%;
	margin: 3% 5% 3% 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.modal-content a.button {
	float: right;
	display: block;
	background-color: black;
	font-family: impact;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 1.05rem;
	color: #FFD54F !important;
	border-radius: 3px;
	border: 1px solid black;
	text-align: center;
	/*Adjustable (Size)*/
	width: 50%;
	/*margin: auto;*/
	padding: 1.5% 5%;
	margin-top: 40px;
	text-decoration: none;
}

.modal-content a.button:hover {
	float: right;
	display: block;
	background-color: #E4B429;
	font-family: impact;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 1.05rem;
	color: black;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.2);
	text-align: center;
	/*Adjustable (Size)*/
	width: 50%;
	/*margin: auto;*/
	padding: 1.5% 5%;
	margin-top: 40px;
	text-decoration: none;
}

.modal-content p br {
	line-height: 30px;
}

.lowerTable {
	width: 100%;
	border-bottom: 1px solid #E4B429;
	border-left: 1px solid #E4B429;
	border-right: 1px solid #E4B429;
	border-collapse: collapse;
}

.title {
	width: 30%;
	background-color: rgba(255, 213, 79, 0.6);
}

.info {
	width: 70%;
	background-color: rgba(255, 213, 79, 0.2);
}

.upperTable {
	width: 100%;
	border-top: 1px solid rgba(255, 213, 79, 0.6);
	border-left: 1px solid rgba(255, 213, 79, 0.6);
	border-right: 1px solid rgba(255, 213, 79, 0.6);
	border-collapse: collapse;
}

td {
	vertical-align: top;
	padding: 10px;
	border: .5px solid rgba(228, 180, 41, 0.5);
}

/*--------------------------------------- Text Containers --------------------------------------- */
.modal-content::-webkit-scrollbar {
	width: 1em;
	margin-right: 5px;
}

.modal-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1rem;
	margin-right: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 1rem;
}
